extends base

block content 
    .container-fluid.w-50.border.p-4
        .row
            form(action="/", method="post" novalidate id="formCrearCliente" name="formCrearCliente").needs-validation
                .col
                    label(for="dni").tamano-pred Dni: 
                    input(type="text" name="dni" id="dni" pattern="([0-9]{8}[A-Z])|([XYZ][0-9]{7}[A-Z])" placeholder="Introduce tu dni" required class="form-control")
                    .invalid-feedback El DNI no tiene un formato válido o ya existe.
                .col
                    label(for="nombre").tamano-pred Nombre: 
                    input(type="text" name="nombre" class="form-control" id="nombre" placeholder="Introduce tu nombre" required) 
                    .invalid-feedback El nombre no puede estar vacio
                .col
                    label(for="direccion").tamano-pred Direccion: 
                    input(type="text" name="direccion" class="form-control" id="direccion" placeholder="Introduce tu Direccion" required) 
                    .invalid-feedback La direccion no puede estar vacia 
                .col.d-flex.justify-content-center.mt-4
                    input(type="submit", value="Crear cliente")
    .container-fluid.w-75.p-4
        <table class="table table-striped" id="resultadosBusquedaClientes">
            <thead>
                <tr>
                    <th scope="col" class="text-center">DNI</th>
                    <th scope="col" class="text-center">Nombre</th>
                    <th scope="col" class="text-center">Direccion</th>
                    <th scope="col" class="text-center">Pedido</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="modalClientes" class="card-group"> 
        </div>

