<div class="ul-nav"> 
    <div class="container-fluid d-flex justify-content-center py-2 borde_inferior">
        <ul class="nav nav-pills bordes_laterales">
            <li class="nav-item"><a href="#buscadorDiv" class="nav-link">Buscador</a></li>
            <li class="nav-item"><a href="#bienvenida" class="nav-link">Bienvenida</a></li>
            <li class="nav-item"><a href="#favoritos" class="nav-link">Favoritos</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Quienes somos</a></li>
        </ul>
    </div>
</div>

