
<a href="catalogo.html" class="d-flex align-items-center mb-3 mb-md-0 link-body-emphasis text-decoration-none">
    <img src="../img/Gemini_Generated_Image_4121w84121w84121.png" alt="" class="logo-header me-2">
    <span class="fs-4">The Dragon's Tome</span>

</a>
<div class="nav-burger col-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" /></svg>
</div>

